<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.numero.material_gallery">

    <application
        android:name=".MaterialGalleryApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialGallery.DayNight"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".components.appbar.bottom.BottomAppBarTypeActivity"
            android:label="@string/bottom_app_bar" />

        <activity
            android:name=".components.appbar.bottom.BottomAppBarActivity"
            android:label="@string/bottom_app_bar" />

        <activity
            android:name=".components.appbar.bottom.HideOnScrollActivity"
            android:label="@string/hide_on_scroll" />

        <activity
            android:name=".components.bottomnavigation.BottomNavigationActivity"
            android:label="@string/bottom_navigation" />

        <activity
            android:name=".components.sheet.BottomSheetActivity"
            android:label="@string/bottom_sheet" />

        <activity
            android:name=".components.appbar.top.TopAppBarTypeActivity"
            android:label="@string/top_app_bar" />

        <activity
            android:name=".components.appbar.top.ActionBarActivity"
            android:label="@string/actionbar" />

        <activity
            android:name=".components.appbar.top.ToolbarActivity"
            android:label="@string/toolbar" />

        <activity
            android:name=".components.appbar.top.LiftOnScrollActivity"
            android:label="@string/lift_on_scroll"
            android:theme="@style/Theme.MaterialGallery.DayNight.SurfaceStatus" />

        <activity
            android:name=".components.appbar.top.CollapsingActivity"
            android:label="@string/collapsing" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.MaterialGallery.DayNight.WithActionBar" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.MaterialGallery.DayNight.WithActionBar" />

    </application>

</manifest>