<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.numero.material_gallery">

    <application
        android:name=".MaterialGalleryApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/label_settings"
            android:theme="@style/DefaultTheme" />

        <activity
            android:name=".activity.bottom_app_bar.BottomAppBarTypeActivity"
            android:label="@string/bottom_app_bar" />

        <activity
            android:name=".activity.bottom_app_bar.BottomAppBarActivity"
            android:label="@string/bottom_app_bar" />

        <activity
            android:name=".activity.bottom_app_bar.HideOnScrollActivity"
            android:label="@string/hide_on_scroll" />

        <activity
            android:name=".activity.BottomNavigationActivity"
            android:label="@string/bottom_navigation" />

        <activity
            android:name=".activity.BottomSheetActivity"
            android:label="@string/bottom_sheet" />

        <activity
            android:name=".activity.CheckboxActivity"
            android:label="@string/checkbox" />

        <activity
            android:name=".activity.ChipActivity"
            android:label="@string/chips" />

        <activity
            android:name=".activity.FabActivity"
            android:label="@string/fab" />

        <activity
            android:name=".activity.MaterialButtonActivity"
            android:label="@string/material_button" />

        <activity
            android:name=".activity.MaterialCardActivity"
            android:label="@string/material_card" />

        <activity
            android:name=".activity.ModalBottomSheetActivity"
            android:label="@string/modal_bottom_sheet" />

        <activity
            android:name=".activity.NavigationDrawerActivity"
            android:label="@string/navigation_drawer" />

        <activity
            android:name=".activity.ProgressBarActivity"
            android:label="@string/progress_bar" />

        <activity
            android:name=".activity.SnackbarActivity"
            android:label="@string/snachbar" />

        <activity
            android:name=".activity.SwitchActivity"
            android:label="@string/material_switch" />

        <activity
            android:name=".activity.TabActivity"
            android:label="@string/tab" />

        <activity
            android:name=".activity.TextFieldActivity"
            android:label="@string/text_field" />

        <activity
            android:name=".activity.top_app_bar.TopAppBarTypeActivity"
            android:label="@string/top_app_bar" />

        <activity
            android:name=".activity.top_app_bar.ActionBarActivity"
            android:label="@string/actionbar" />

        <activity
            android:name=".activity.top_app_bar.LiftOnScrollActivity"
            android:label="@string/lift_on_scroll" />

        <activity
            android:name=".activity.top_app_bar.CollapsingActivity"
            android:label="@string/collapsing" />

    </application>

</manifest>