name: Danger

on:
  pull_request:

jobs:
  danger:
    if: github.head_ref != 'develop'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: set up JDK
        uses: actions/setup-java@v2.3.1
        with:
          java-version: 11
          distribution: zulu
          cache: gradle
      - name: Setup Ruby
        uses: actions/setup-ruby@v1.1.3
        with:
          ruby-version: '2.6'

      - name: Install bundler
        run: bundle install

      - name: Run AndroidLint
        run: ./gradlew lintRelease

      - name: Run danger
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec danger
